* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box1 {
    background-color: red;    
}

.box2 {
    background-color: pink;   
}

.box3 {
    background-color: green;   
}

main{
    display: grid;
    /* grid-template-columns: 50% 25% 25%; */
    /* grid-template-columns: 1fr 0.5fr 0.5fr; */
    grid-template-columns: repeat(3,1fr);
}