/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Roboto, Helvetica, Geneva, Verdana, sans-serif;
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.5rem;
    color: black;
}

.logo span {
    color: #1b5e20;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a{
    text-decoration: none;
    color: black;
    font-weight: 500;    
}

.nav-auth{
    display: flex;
    gap: 15px;
}